- var aboutShortDescription = 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.';
- var subHeader1 = 'We Want You To Learn English';
- var subDescription1 = 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.'
- var subList1 = [ 'Far far away, behind the word', 'There live the blind texts', 'Separated they live in bookmarksgrove'];
- var subSections = [{ header: 'Real Project For Real Solutions', description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.'},{ header: 'Real Project For Real Solutions', description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.'}];
