// Contact Page
- var contact = 'true';
- var pageTagline = 'Contact Us';
- var subTagline = 'We are happy to help @';
- var subTagLink = '#';
- var subTagLabel = 'MINA';
// Project Section
- var address = '198 West 21th Street, Suite 721 New York NY 10016';
- var phone = '1800 000 00';
- var email = 'info@mina.org';
