// Event Page
- var events = 'true';
- var pageTagline = 'Events';
- var subTagline = 'MINA by';
- var subTagLink = '#';
- var subTagLabel = 'MINA';

// Event Section
- var sectionTitle = 'Events';
- var sectionDescription = 'Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.';
-
  var eventList = [{
                    image: 'images/project-4.jpg',
                    alt: '',
                    title: '45 Minimal Workspace Rooms for Web Savvys',
                    date: 'Nov. 15th',
                    desc: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.',
                  }, {
                    image: 'images/project-5.jpg',
                    alt: '',
                    title: '45 Minimal Workspace Rooms for Web Savvys',
                    date: 'Nov. 15th',
                    desc: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.',
                  }, {
                    image: 'images/project-6.jpg',
                    alt: '',
                    title: '45 Minimal Workspace Rooms for Web Savvys',
                    date: 'Nov. 15th',
                    desc: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.',
                  }]
