- var title = "MINA: Muslim Information Network of Australia";
- var metaDescription = "MINA: Muslim Information Network of Australia";
- var keywords = '';
- var author = 'Fareez Ahmed';
- var titleLog = 'img/logo.png';
- var image = 'http://mina.org.au/d2/img/mina-logo.png';
- var url = 'http://mina.org.au/';
- var card = '';
- var phone = '1800 000 0000';
- var facebookUrl = '#';
- var twitterUrl = '#';
- var linkedinUrl = '#';
