// Project Page
- var project = 'true';
- var pageTagline = 'Our Projects';
- var subTagline = 'MINA by';
- var subTagLink = '#';
- var subTagLabel = 'MINA';
// Project Section
- var aboutShortDescription = 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.';
- var subHeader1 = 'Project 1';
- var subDescription1 = 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.'
-
  var subList1 = [
              'Far far away, behind the word',
              'There live the blind texts',
              'Separated they live in bookmarksgrove'
              ];
- var subHeader2 = 'Project 2';
- var subDescription2 = 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.'
-
  var subList2 = [
              'Far far away, behind the word',
              'There live the blind texts',
              'Separated they live in bookmarksgrove'
              ];
-
  var subSections = [
                    {
                      header: 'Project 3 For Real Solutions',
                      description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.'
                      },{
                      header: 'Project 4 For Real Solutions',
                      description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.'
                    },{
                      header: 'Project 5 For Real Solutions', 
                      description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.'
                    }];
