include ../content/about.pug

#fh5co-explore.fh5co-bg-section
  .container
    .row.animate-box
      .col-md-6.col-md-offset-3.text-center.fh5co-heading
        h2 About Us
        p #{aboutShortDescription}
  .fh5co-explore
    .container
      .row
        .col-md-8.col-md-pull-1.animate-box
          img.img-responsive(src="img/work_2.jpg", alt="work")
        .col-md-4.animate-box
          .mt
            each section in subSections
              div
                h4 #{section.header}
                p #{section.description}
