#fh5co-started(style="background-image:url(images/img_bg_2.jpg);")
  .overlay
  .container
    .row.animate-box
      .col-md-8.col-md-offset-2.text-center.fh5co-heading
        h2 Lets Get Started
        form(action="https://docs.google.com/forms/d/e/1FAIpQLSfp-MHrBPzclnBc1WaB532FpzuqHo2OCCKh2sCtnXryhLNhLw/formResponse" target="_blank" method="POST" id="mG61Hd")
          input(type="email", class="exportInput", placeholder="your email", autocomplete="email", tabindex="0", aria-label="Your email", name="emailAddress", required="")
          br
          input(name="submit", type="submit", value="Subscribe")
